@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&family=Roboto:ital,wght@1,100&display=swap');

*{
    box-sizing: border-box;
    font-size: 16px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

body {
    background-color: black;
    color:brown
}

.id {
    color:whitesmoke;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    background-color: blue;
    padding: 20px;
}

#principal {
    scroll-behavior: smooth;
}

.imagep {
    width: 100%;
    margin:0;
}

.sobre {
    text-align:center;
    color:whitesmoke;
}
section {
    border: 3px;
    background-color: rgb(42, 54, 165);
}

.container {
    color: rgb(247, 9, 9);
    height: 500px;
    width: 250px;
}